<div class="modal-header">
	<h3 class="modal-title">Shuffle Progress - {{(progressData.percent_tracks_read + progressData.percent_tracks_written) / 2 | number: 2}}%</h3>
</div>
<div class="modal-body">
	<p ng-show="progressData.phase >= 0">
		Reading track data from sources
		<progressbar ng-class="{'progress-bar-danger': progressData.read_error}" class="progress-striped" value="progressData.percent_tracks_read">{{progressData.percent_tracks_read | number: 2}}%</progressbar>
	</p>
	<p ng-show="progressData.phase == 1">
	Clearing destination playlist... <br />
	(TODO: Give you a sexy progressbar here. If something fails I'll let you know)
	</p>
	<p ng-show="progressData.phase > 1">
	Destination playlist cleared!
	</p>
	<p ng-show="progressData.phase >= 2">
		Writing tracks to destination playlist "{{selectionData.destination.name | characters:70}}"
		<progressbar ng-class="{'progress-bar-danger': progressData.write_error}" class="progress-striped" value="progressData.percent_tracks_written">{{progressData.percent_tracks_written | number: 2}}%</progressbar>
	</p>

	<div ng-show="(progressData.finished_read && progressData.finished_write) || progressData.read_error || progressData.write_error || progressData.clear_error">
		<div class="alert alert-success" ng-show="progressData.finished_read && progressData.finished_write">
			<strong>SUCCESS!</strong> The playlist "{{selectionData.destination.name | characters:70}}" now contains
			{{selectionData.destination.total}} songs.
		</div>
		<!-- <div class="alert alert-info" ng-show="progressData.finished_read && progressData.finished_write && (progressData.percent_tracks_read != 100 || progressData.percent_tracks_written != 100)"> -->
			<!-- <strong>INFO!</strong> Due to bugs in the Spotify Web API, some invalid track data was returned and so not all the tracks may have been included. The issue has been reported and we're waiting for a solution. -->
		<!-- </div> -->
		<div class="alert alert-danger" ng-show="progressData.read_error">
			<strong>ERROR!</strong> Something bad occurred while reading track data: {{progressData.read_error}}
		</div>
		<div class="alert alert-danger" ng-show="progressData.clear_error">
			<strong>ERROR!</strong> Something bad occurred while clearing track data: {{progressData.clear_error}}
		</div>
		<div class="alert alert-danger" ng-show="progressData.write_error">
			<strong>ERROR!</strong> Something bad occurred while writing track data: {{progressData.write_error}}
		</div>
		<div class="text-center">
			<button class="btn btn-primary" ng-click="ok()">Close</button>
		</div>
	</div>
</div>
